# macOS
.DS_Store
# Editors
.vscode/
.idea
# CMake
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
# Output directories
cmake-build-*
build/
# The PSD file I use to edit the textures
*.psd
# PlantUML
*.puml
